<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="true" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health_prescribe"
        tools:targetApi="31">
        <activity
            android:name=".DetalleRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".SelectDrugItemSelectActivity"
            android:exported="false" />
        <activity
            android:name=".SelectedDrugItemActivity"
            android:exported="false" />
        <activity
            android:name=".SelectDrugActivity"
            android:exported="false" />
        <activity
            android:name=".GeneratePrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".FarmaceuticoActivity"
            android:exported="false" />
        <activity
            android:name=".PacienteActivity"
            android:exported="false" />
        <activity
            android:name=".MedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ItemMedicamentoActivity"
            android:exported="false" />
        <activity
            android:name=".ItemReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminViewReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ItemCuentaPendienteActivity"
            android:exported="false" />
        <activity
            android:name=".AdminApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".ItemRecetaMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoRecetasMedicoActivity"
            android:exported="false" />
        <activity
            android:name=".ValidarRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".FarmacoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemUsuarioPendienteActivity"
            android:exported="false" />
        <activity
            android:name=".ItemRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".AdminGestionActivity"
            android:exported="false" />
        <activity
            android:name=".FarmaceuticoInventarioActivity"
            android:exported="false" />
        <activity
            android:name=".FarmaceuticoEntregarRecetasActivity"
            android:exported="false" />
        <activity
            android:name=".PacienteMisRecetasActivity"
            android:exported="false" />
        <activity
            android:name=".medico_mis_recetasActivity"
            android:exported="false" />
        <activity
            android:name=".layout_navbar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>